<div class="row">
    <div class="col-12 mt-4 mb-2">
        <h1 class="display-4 text-center">Closing of the elections | Winner</h1>
    </div>
    <div class="col-12 mt-4 mb-2 tex-center">
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="<%= winnerFileName %>" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                            <h5 class="card-title lead"><strong><i class="fas fa-trophy"></i> Candidate: </strong><%= winnerName %></h5>
                            <h5 class="card-title lead"><strong><i class="fas fa-sort-amount-up"></i> Received votes: </strong><%= votesCount %></h5>
                        <p class="card-text h4">
                        <%= winnerName %> is selected as a winner of the elections organized in the Blockchain.</p>
                        <p class="card-text"><small class="text-muted">Congratulations <%= winnerName %></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>